<form class="container">
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Aluno" id="aluno" />
  </div>
  <div class="input-group">
    <input class="nota form-control" type="number" placeholder="1ª Nota" />
    <input class="nota form-control" type="number" placeholder="2ª Nota" />
  </div>
  <div class="input-group">
    <input type="button" class="btn btn-success" value="Cadastrar" />
    <input type="button" class="btn btn-primary" value="Alterar" />
    <input type="button" class="btn btn-danger" value="Remover" />
    <input type="button" class="btn btn-warning" value="Cancelar" />
  </div>
</form>

<!-- Pesquisa -->
<!-- <input for="termoPesquisado" type="text" placeholder="Pesquisar..." class="form-control pesquisa"
  [(ngModel)]="buscarAluno" aria-describedby="termoPesquisado" autofocus /> -->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Aluno</th>
      <th scope="col">1ª Nota</th>
      <th scope="col">2ª Nota</th>
      <th scope="col">Média</th>
      <th scope="col">Selecionar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of alunos">
      <td>Aurora</td>
      <td>{{a.aluno}}</td>
      <td>{{a.nota1}}</td>
      <td>{{a.nota2}}</td>
      <td>
        <button class="btn btn-primary">
          Selecionar
        </button>
      </td>
    </tr>
  </tbody>
</table>